.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.software-skill-inline > i {
  color: #868e96;
}

i.fab.fa-html5:hover {
  color: rgb(172, 85, 14);
}
i.fab.fa-css3-alt:hover {
  color: rgb(43, 43, 216);
}
i.fab.fa-sass:hover {
  color: rgb(226, 73, 201);
}
i.fas.fa-fire:hover {
  color: orangered;
}
i.fab.fa-js:hover {
  color: rgb(233, 229, 14);
}
i.fab.fa-react:hover {
  color: blue;
}
i.fab.fa-node:hover {
  color: green;
}
i.fab.fa-node:hover {
  color: green;
}

i.fab.fa-npm:hover {
  color: rgb(238, 68, 26);
}
.software-skill-inline > p {
  color: #868e96;
  font-size: 10px;
}
.software-skill-inline > i:hover ~ p {
  color: #645beb;
}
